@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url('/fonts/Nunito-Regular.ttf') format('truetype');
}

/*
@font-face {
	font-family: 'Nunito';
	font-weight: 300;
	src: url('/static/Nunito-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 100;
	src: url('/static/Nunito-ExtraLight.ttf') format('truetype');
} */

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: url('/fonts/Nunito-Bold.ttf') format('truetype');
}
