---
import HomeLayout_ from 'src/layouts/home.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
---

<HomeLayout_ title="404: Not found">
	<Section_ class="_404">
		<div>
			<h1 class="text--hdg--1">404: Page not found.</h1>

			<p>If you think this is an error, please <Route_ to="contact">let us know.</Route_></p>

			<p>Otherwise, <Route_ to="home">go to the homepage.</Route_></p>
		</div>
	</Section_>
</HomeLayout_>

<style lang="scss">
@use 'src/scss/vars';

._404 {
	min-height: 60vh !important;
}
</style>
