---
export const prerender = true;

import HomeLayout_ from 'src/layouts/home.astro';

import Buttonset_ from 'src/components/buttonset.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
---

<HomeLayout_ title="Get your kit" navFixed={true} navOpaqueAtTop={false}>
	<Section_ class="section--columns _nobuy">
		<div>
			<Img_ src="/img/kit/kit-lit.jpg" />
		</div>

		<div class="text-defaults">
			<h1>Get your Geneticure kit</h1>

			<hr class="fancy" />

			<p>We're excited to join you on your journey for better health!</p>

			<p>Please talk to your doctor about ordering a Geneticure test for you. Here are some tools for that conversation:</p>

			<ul>
				<li><Route_ to="report" target="_blank">A printable sample Geneticure test report</Route_></li>

				<li><Route_ to="providers">Geneticure.com/providers</Route_>, for healthcare professionals</li>

				<li><Route_ to="research">Geneticure.com/research</Route_>, a list of our publications and research</li>
			</ul>

			<Buttonset_>
				<Route_
					class="button--high"
					to="providers"
				>For providers</Route_>

				<Route_
					to="contact"
				>Contact us</Route_>
			</Buttonset_>
		</div>
	</Section_>
</HomeLayout_>
