---
import HomeLayout_ from 'src/layouts/home.astro';

import { Content as Covid_ } from 'src/text/covid.md';
---

<HomeLayout_ title="Our test can help treat Covid-19">
	<div class="content text-defaults">
		<Covid_ />
	</div>
</HomeLayout_>
