---
import HomeLayout_ from 'src/layouts/home.astro';

import { Content as Privacy_ } from 'src/text/privacy.md';
---

<HomeLayout_ title="Privacy policy">
	<div class="content text-defaults">
		<Privacy_ />
	</div>
</HomeLayout_>
