---
import HomeLayout_ from 'src/layouts/home.astro';

import Rdn_ from 'src/text/rdn.mdx';
---

<HomeLayout_ class="rdn" title="250% Increase in Renal Denervation Adoption">
	<div class="content text-defaults">
		<Rdn_ />
	</div>
</HomeLayout_>

<style lang="scss">
@use 'src/scss/vars';

.rdn {
	:global(#references ~ ol) {
		@include vars.type(small);
	}

	:global(table) {
		@include vars.type(small);

		white-space: pre-line;
	}
}
</style>
