---
import HomeLayout_ from 'src/layouts/home.astro';

import { Content as Terms_ } from 'src/text/terms.md';
---

<HomeLayout_ title="Terms and conditions">
	<div class="content text-defaults">
		<Terms_ />
	</div>
</HomeLayout_>
