---
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';

import { news } from 'src/text/news';

---

<Section_ class="text--on-dark _articles text--hdg--2">
	<h2>More things we're working on:</h2>

	<ul>
		{
			news.map((article) =>
				<li>
					<Route_ href={article.route}>{article.title}</Route_>
				</li>,
			)
		}
	</ul>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

._articles {
	background-color: vars.$color--brand--sink;
	color: vars.$color--text--on-dark;

	a {
		font-weight: normal;
	}

	li {
		list-style-position: inside;
		list-style-type: disc;
		margin: 1em 0;
	}
}
</style>
