---
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';

import { news } from 'src/text/news';

---

<Section_ class="section--columns text--on-dark _articles">
	<div>
		<h2 class="text--hdg--2">More things we're working on:</h2>
	</div>

	<div>
		<ul>
			{
				news.map((article) =>
					<li>
						<Route_ href={article.route}>{article.title}</Route_>
					</li>,
				)
			}
		</ul>
	</div>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

._articles {
	background-color: vars.$color--brand--sink;
	color: vars.$color--text--on-dark;

	a {
		font-weight: normal;
	}

	li {
		list-style-position: outside;
		list-style-type: disc;
		margin: 10px 0;
	}
}
</style>
