---
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
---

<Section_ class="section--columns section--columns--reverse-sm _details">
	<div class="_details__body">
		<h2 class="text--hdg--1">
			Fewer prescriptions.<br />
			Fewer office visits.<br />
			<em>Less trial-and-error.</em>
		</h2>

		<hr class="fancy" />

		<p><strong>Your body is unique.</strong> Doctors don't know if a blood pressure medication will work until you try it. If it doesn't work, they might add or try another. This trial-and-error costs time and money. Some medications can even make your blood pressure go up.</p>

		<p>Geneticure's test looks at 17 genotypes and 11 genes* to determine how your body responds to each medication. Your personalized report helps your doctor <strong>prescribe the right medication from the start.</strong></p>

		<aside>
			<p>*We respect your privacy and only look at the DNA that is relevant to blood pressure. The rest is discarded. For more information <Route_ to="faqs">see our FAQs</Route_>.</p>
		</aside>
	</div>

	<div class="_details__img">
		<Img_
			alt="Geneticure kit with literature"
			bgColor={false}
			src="/img/kit/kit-w-contents.jpg"
		/>
	</div>
</Section_>
