---
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
---

<Section_ class="section--columns section--columns--reverse-sm hero _hero">
	<div class="_hero__text">
		<h1 class="text--hdg--1">
			Find the right<br /> blood pressure treatment<br /> using <em>your DNA</em>.
		</h1>

		<hr class="fancy" />

		<div class="_hero__text__body">
			<div>
				<p>Hypertension is the leading preventable cause of death <b>in the world.</b></p>

				<p>Geneticure's patented test uses a sample of your DNA to recommend a personalized treatment plan, <em>just for you.</em></p>
			</div>

			<p class="_hero__button">
				<Route_
					class="button--hero"
					to="buy"
				>Get tested</Route_>
			</p>
		</div>
	</div>

	<div class="_hero__images">
		<Img_
			alt="Kit with contents"
			src="/img/hero.svg"
		/>
	</div>
</Section_>

<style lang="scss">
@use 'sass:math';
@use 'src/scss/vars';

._hero {
	h1 {
		font-weight: bold;
	}

	em {
		color: vars.$color--brand--sink;
		font-weight: bold;
		white-space: nowrap;
	}

	@include vars.if-viewport('<', lg) {
		br {
			display: inline-block;
		}

		hr.fancy {
			display: none;
		}

		&__button {
			margin-bottom: 25px;
			order: -1;
		}

		&__images {
			padding-top: 0;

			.img {
				margin: 0 auto;
				max-height: 300px;
			}
		}

		&__text {
			text-align: center;
		}

		&__text__body {
			display: flex;
			flex-direction: column;
		}
	}

	@include vars.if-viewport('>=', lg) {
		&__button {
			margin-top: 25px;
		}

		&__images {
			padding-bottom: 0;
			padding-top: 0;
		}
	}
}
</style>
