---
import LogoList_ from 'src/components/logo-list.astro';
import Section_ from 'src/components/section.astro';

import { journals, medias } from 'src/text/media';
---

<Section_ class="_media">
	<div>
		<h2 class="text--hdg--2 text--center">As seen in:</h2>

		<LogoList_ logos={medias} />
		<LogoList_ logos={journals} />
	</div>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

._media {
	background-color: vars.$color--brand--offset;
}
</style>
