---
import LogoList_ from 'src/components/logo-list.astro';
import Section_ from 'src/components/section.astro';

import { partners } from 'src/text/partners';
---

<Section_ cols={0}>
	<div class="partners">
		<h3 class="text--hdg--5 text--center">Notable investors:</h3>

		<LogoList_ logos={partners} />
	</div>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

.section {
	min-height: 0 !important;
}
</style>
