---
import Carousel_ from 'src/components/carousel.astro';
import Img_ from 'src/components/img.astro';
import SvgGradient_ from 'src/components/svg-gradient.astro';
import Svg_ from 'src/components/svg.astro';

import { quotes } from 'src/text/quotes';
---

<section class="section section--columns section--columns--reverse-sm _quotes">
	<div class="_quotes__text">
		<h2 class="text--hdg--2">
			<Svg_
				aria-hidden="true"
				class="_quotes__icon"
				src="public/img/icon/quote.svg"
			/>

			What our patients say:
		</h2>

		<SvgGradient_ id="_quotes-icon-gradient" />

		<Carousel_>
			{quotes.map((quote) =>
				<div class="_quote">
					<blockquote
						class="_quote__body"
						set:html={quote.text}
					></blockquote>

					<p class="_quote__author">
						<strong>{quote.name}</strong>
					</p>
				</div>,
			)}
		</Carousel_>
	</div>

	<div class="_quotes__images">
		<Img_
			alt="Faces"
			class="_quotes__images__bg"
			src="/img/bg/faces.jpg"
		>
			<Img_
				alt="Open Geneticure kit"
				src="/img/kit/kit-open.png"
			/>

			<Img_
				alt="Geneticure report"
				src="/img/report.png"
			/>
		</Img_>
	</div>
</section>

<style lang="scss">
@use 'src/scss/vars';

._quotes-icon-gradient {
	:global(stop) {
		&:nth-child(1) {
			stop-color: vars.$color--brand--sink;
		}

		&:nth-child(2) {
			stop-color: vars.$color--brand;
		}
	}
}

._quotes {
	background: vars.$color--bg--offset;

	&__icon {
		aspect-ratio: 1;
		display: inline-block;
		vertical-align: bottom;

		:global(path) {
			fill: url('#_quotes-icon-gradient');
		}
	}

	&__images {
		&__bg {
			align-items: center;
			background-size: contain;
			display: flex;
			justify-content: center;
			overflow: hidden;

			.img {
				filter: drop-shadow(0 0 50px #000000A0);
				max-width: 400px;
				width: 40%;

				&:nth-child(1) {
					margin-right: -30px;
					position: relative;
					z-index: 1;
				}
			}
		}
	}

	@include vars.if-viewport('==', sm) {
		:global(.carousel__arrow) {
			font-size: 60px;
			width: var(--content-padding-x);
		}
	}

	@include vars.if-viewport('<', lg) {
		grid-row-gap: 30px !important;

		&__icon {
			width: 40px;
		}

		&__images {
			padding: 0 !important;

			&__bg {
				aspect-ratio: auto !important;
				padding: 50px !important;
			}
		}

		&__text {
			overflow: hidden;
		}
	}

	@include vars.if-viewport('>=', lg) {
		&__icon {
			width: 60px;
		}

		&__images {
			padding-bottom: 0 !important;
			padding-top: 0 !important;

			&__bg {
				aspect-ratio: 1;
				border-radius: 50%;
			}
		}
	}
}

._quote {
	background-color: vars.$color--bg;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 20px;

	&__author {
		margin-left: 50%;

		&::before {
			background: vars.$color--brand--sink;
			content: '';
			display: inline-block;
			height: 2px;
			margin-right: 1ex;
			vertical-align: middle;
			width: 30px;
		}
	}

	&__body {
		white-space: pre-wrap;
	}
}
</style>
