---
import Img_ from 'src/components/img.astro';
import Section_ from 'src/components/section.astro';
import SvgGradient_ from 'src/components/svg-gradient.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';
import Svg_ from 'src/components/svg.astro';

const organs: Array<[string, string, string]> = [
	[
		`Cardiac`,
		`Controls how hard and fast your heart beats`,
		`cardiac`,
	],
	[
		`Vascular`,
		`Controls the tightening of blood vessels`,
		`vascular`,
	],
	[
		`Renal`,
		`Controls the absorption of sodium and water in your kidneys`,
		`renal`,
	],
];
---

<Section_ class="text--on-dark report">
	<div class="report__body">
		<h2 class="text--hdg--1">What's in <em>my report?</em></h2>

		<hr class="fancy" />

		<SvgGradient_ id="organ__icon__gradient" transform="rotate(0)" />

		<p>Different blood pressure treatments target different systems in your body. Your DNA can predict which system is most likely to respond to treatment. Your Geneticure report describes the responsiveness of 3 of your body's main organ systems:</p>

		<ul class="organs">
			{ organs.map(([title, body, icon]) =>
				<li
					class="organ"
					style={ `height: ${100 * (1 / organs.length)}%` }
				>
					<Svg_
						class="organ__icon"
						src={`public/img/icon/${icon}.svg`}
					/>

					<div class="organ__body">
						<h3 class="organ__body__title">
							<span>{ title } system</span>
						</h3>
						<p class="organ__body__text">{ body }</p>
					</div>
				</li>,
			) }
		</ul>
	</div>

	<div>
		<Img_
			alt="Picture of a Geneticure report"
			src="/img/report.png"
		/>
	</div>

	<Fragment slot="background">
		<SvgPattern_ id="report-bg" src="public/img/icon/pills-pattern.svg" width="25" height="25" />
	</Fragment>
</Section_>

<style lang="scss">
@use '/src/scss/vars';

$background__color: vars.$color--lowlight;

.report {
	text-shadow: 1px 1px 0 rgba(0 0 0 / .2);
}

.report__body {
	display: flex;
	flex-direction: column;
}

.organ {
	align-items: center;
	display: flex;
	padding-bottom: 20px;
}

.organ__icon {
	aspect-ratio: 1;
	flex-shrink: 0;
	margin-right: 10px;
	width: 100px;
	z-index: 1;

	:global(path) {
		fill: none;
		stroke: url('#organ__icon__gradient');
		stroke-linecap: round;
		stroke-width: 2;
	}
}

.organ__icon__gradient :global(stop) {
	&:nth-child(1) {
		stop-color: vars.$color--brand;
	}

	&:nth-child(2) {
		stop-color: vars.$color--brand--offset--sink;
	}
}

.organ__body__title {
	font-weight: bold;
	position: relative;
}

.report :global(.section__bg) {
	background-color: $background__color;

	&::after {
		@include vars.expand;

		background-image: linear-gradient(45deg, vars.gradient-split($background__color, 99, 50%));
	}

	:global(path) {
		fill: none;
		stroke: vars.$color--lowlight--offset;
		stroke-width: 6;
	}
}

@include vars.if-viewport('<', lg) {
	.organs {
		padding-bottom: 40px;
	}
}
</style>
