---
import Details_ from 'src/components/details.astro';

import { research } from 'src/text/research';
---

<div class="content research">
	<Details_>
		<Fragment slot="title">See the science</Fragment>

		{
			research.map(({ title, citations }) =>
				<section>
					<h3>{title}</h3>
					<>
						{
							citations.map((cite) =>
								<span
									class="research__target"
									id={`cite-${cite.id}`}
								></span>
								<p set:html={cite.full}></p>,
							)
						}
					</>
				</section>,
			)
		}
	</Details_>
</div>

<style lang="scss">
@use 'src/scss/vars';

.research {
	padding-top: 0 !important;

	p {
		@include vars.type(small);

		white-space: pre-wrap;
	}

	:global(cite) {
		font-weight: bold;
	}

	h3 {
		@include vars.type(hdg--4);
	}

	section:not(:first-child) {
		padding-top: 50px;
	}

	&__target {
		display: block;
		position: relative;
		top: 0 - vars.$height--nav;
	}
}
</style>
