---
import { getProps } from 'src/js/astro';

const { props, rest } = getProps(Astro.props);
---

<details class={`_details ${props.class}`} {...rest}>
	<summary
		class="text--hdg--2 _details__trigger"
		title="Click to expand"
	>
		<slot name="title">Expand</slot>
	</summary>

	<template>
		<div class="_details__body">
			<slot />
		</div>
	</template>
</details>

<style lang="scss">
@use 'src/scss/vars';

$height: 80px;
$border__radius: $height * .5;
$border__width: 3px;

._details {
	border: $border__width solid vars.$color--brand--offset--sink;
	border-radius: $border__radius;
	box-sizing: border-box;
	transition: border-color .2s;
	width: 100%;

	&:not([open]):hover {
		border-color: vars.$color--brand--offset;
	}

	&[open] {
		border-color: vars.$color--brand--offset;
	}

	&__body {
		overflow: hidden;
	}

	&__trigger {
		align-items: center;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		list-style: none;
		min-height: #{$height - (2 * $border__width)};
		padding: 10px $border__radius 10px 0;
		position: relative;
		user-select: none;

		&::before {
			@include vars.bounce((
				bounciness: .6,
				delay--after: 3,
				delay--before: 3,
				distance: 10px,
				distance--min: 2px,
				duration: .2,
				property: bottom,
			));

			color: vars.$color--brand--offset--sink;
			content: '\0203A';
			flex-shrink: 0;
			font-size: 50px;
			line-height: 0;
			margin-bottom: 5px; // Stupid glyph isn't aligned right
			position: relative;
			text-align: center;
			transform: rotateZ(0deg);
			transform-origin: center;
			transition: color .2s, transform .2s;
		}

		._details:not([open]):hover &::before {
			color: vars.$color--brand;
		}

		._details[open] &::before {
			color: vars.$color--brand--sink;
			transform: rotateZ(90deg);
		}

		._details[open] &::before,
		&:hover::before,
		&:active::before,
		&:focus::before {
			animation: none;
		}
	}

	@include vars.if-viewport('<', lg) {
		&__body {
			padding: 20px;
			padding-top: 0 !important;
		}

		&__trigger {
			&::before {
				width: 60px;
			}
		}
	}

	@include vars.if-viewport('>=', lg) {
		&__body {
			padding: $height;
			padding-top: 20px !important;
		}

		&__trigger {
			&::before {
				width: $height;
			}
		}
	}
}
</style>
