<div class="_lightbox"><slot /></div>

<style lang="scss">
@use 'src/scss/vars';

._lightbox {
	cursor: zoom-in;
	position: relative;
	z-index: vars.z(overlay);

	> :global(*) {
		transition: background-color .2s, box-shadow .2s, filter .2s, transform .2s;
		width: 100%;

		&:focus {
			filter: drop-shadow(0 0 50px rgba(0 0 0 / .4));
			transform: scale(200%) rotateZ(0deg);
		}

		&:hover {
			transform: scale(110%) rotateZ(-2deg);
		}
	}
}
</style>
