---
import { getProps } from 'src/js/astro';

import { routes } from 'src/routes';

const NOTE__EXTERNAL = `Opens in a new window`;

const { props, rest } = getProps(Astro.props, {
	href: null as string,
	title: null as string,
	to: null as keyof typeof routes,
});

if (props.to && !(props.to in routes)) {
	throw new Error(`'${props.to}' is not a valid route name.`);
}

const href = props.to ? routes[props.to] : props.href;
const isExternal = !(href.startsWith(`/`));
---

<a
	aria-label={isExternal ? NOTE__EXTERNAL :  null}
	class={props.class}
	href={href}
	target={isExternal ? `_blank` : null}
	title={props.title ?? (isExternal ? NOTE__EXTERNAL :  null)}
	{...rest}
><slot /></a>
