---
---

<div
	aria-hidden="true"
	id="egg"
></div>

<script>
import { sleep } from 'gce-lib/js/timer';

import * as Konami from 'src/js/konami';

const CLASS__ON = `_egg--on`;
const $egg = document.getElementById(`egg`);
const state = {
	$source: null as SVGElement,
	isRunning: false,
};

window.addEventListener(Konami.KONAMI__EVENT, async() => {
	if (state.isRunning) {
		return;
	}

	state.isRunning = true;
	$egg.innerHTML = ``;

	if (!state.$source) {
		const svgData = await (await fetch(`/img/logo/greencutie.svg`)).text();
		state.$source = (new DOMParser()).parseFromString(svgData, `image/svg+xml`).getElementsByTagName(`svg`)[0];
	}

	const $svg = state.$source.cloneNode(true);
	$egg.appendChild($svg);
	$egg.classList.add(CLASS__ON);

	await sleep(6000);

	$egg.classList.remove(CLASS__ON);

	await sleep(500);
	$egg.removeChild($svg);
	state.isRunning = false;
});
</script>

<style lang="scss">
@use 'src/scss/vars';

#egg {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 100%;
	transition: opacity .5s, top .5s;
	width: 100%;
	z-index: vars.z(overlay);

	&._egg--on {
		opacity: 1;
		top: 0;
	}

	:global(svg) {
		background: #FFFFFF;
		border-radius: 10px;
		box-shadow: 0 0 100px 100px vars.$color--shadow--sink;
		min-width: 300px;
		padding: 10px;
		width: 50vw;
	}
}
</style>
