---
import Img_ from 'src/components/img.astro';
import Section_ from 'src/components/section.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';
---

<Section_ class="section--columns _details">
	<div class="_details__text">
		<div>
			<h2 class="text--hdg--1"><em>The right prescriptions</em> with hypertension-specific pharmaco&shy;genomics.</h2>

			<p>Our CLIA-certified lab genotypes your patient's DNA from a cheek swab. Then, our patented algorithm uses years of research to predict which treatments will most effectively treat your patient's hypertension. We compile our findings into <strong>a personalized, one-page report</strong>.</p>
		</div>
	</div>

	<div>
		<Img_
			alt="Geneticure test kit"
			src="/img/kit/kit-w-contents.png"
		/>
	</div>

	<SvgPattern_
		class="bg"
		id="_details__bg"
		src="public/img/icon/helix-pattern.svg"
		width="30"
		height="30"
	/>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

h2 em {
	color: vars.$color--brand;
}

strong {
	color: vars.$color--brand--sink;
	font-weight: bold;
}

._details {
	--bg-image: 0;

	&__report {
		box-shadow: 0 0 20px 5px vars.$color--shadow;
	}

	&__bg {
		background-color: vars.$color--brand--offset;

		:global(path) {
			fill: none;
			stroke: vars.$color--brand--offset--sink;
			stroke-width: 3;
		}

		&::before {
			@include vars.expand;

			background-image: var(--bg-image);
			z-index: 1;
		}
	}

	@include vars.if-viewport('<', lg) {
		--bg-image: linear-gradient(270deg, #{vars.$color--bg}00, #{vars.$color--bg}FF 20%);

		&__text {
			display: flex;
			flex-direction: column-reverse;
		}
	}

	@include vars.if-viewport('>=', lg) {
		--bg-image: linear-gradient(270deg, #{vars.$color--bg}00, #{vars.$color--bg}FF 50%);
	}
}
</style>
