---
import Buttonset_ from 'src/components/buttonset.astro';
import Img_ from 'src/components/img.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';

import { routes } from 'src/routes';
---

<Section_ class="section--columns _hero">
	<div class="_hero__text">
		<div class="overlay">
			<h1 class="text--center text--hdg--1">
				Treat hypertension with <em>precision</em>.
			</h1>

			<p>Using a non-invasive cheek swab, Geneticure's patented pharmaco&shy;genomic panel analyzes 17 genotypes in 11 genes to recommend <strong>the best hypertension treatment for your patient.</strong></p>

			<hr class="fancy" />

			<div class="_hero__cta">
				<p>Register for your provider account and we'll coordinate an introduction to Geneticure and answer any questions you may have. In many cases we can also offer complimentary testing to demonstrate the value of the test.</p>

				<p class="text--center">
					<Route_
						class="button--hero"
						href={routes.register__clinician}
					>Register now</Route_>
				</p>
			</div>

			<br />

			<Buttonset_ class="buttonset--center">
				<Route_ class="button--low" href={routes.contact}>Contact us</Route_>

				<Route_ class="button--low" href={routes.brochure} target="_blank">Our brochure</Route_>
			</Buttonset_>
		</div>
	</div>

	<div class="_hero__report">
		<Img_
			alt="Geneticure report"
			src="/img/report.png"
		/>
	</div>

	<Img_
		alt="Photo of a lab technician"
		class="bg _hero__bg"
		src="/img/bg/lab-test.jpg"
	/>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

._hero {
	overflow: hidden;

	&__text,
	&__report {
		padding-top: vars.$height--nav;
	}

	&__bg {
		object-position: center left;
	}

	&__cta {
		@include vars.antipad(20px);

		background: vars.$color--accent--offset;
		border-radius: 10px;
		padding-bottom: 20px;
		padding-top: 20px;
	}

	&__report {
		.img {
			box-shadow: 0 0 20px 5px vars.$color--shadow;
		}
	}

	@include vars.if-viewport('<', lg) {
		&__report {
			margin-top: 50px;
		}
	}

	@include vars.if-viewport('>=', lg) {
		align-items: stretch;

		.overlay {
			padding-bottom: var(--content-gutter-y);
			padding-top: var(--content-gutter-y);
		}

		&__report {
			display: flex;
			flex-direction: column;
			position: relative;
		}
	}
}

h1 {
	font-weight: bold;

	em {
		color: vars.$color--brand;
	}
}

hr {
	margin: 35px 0 !important;
}
</style>
