---
import Buttonset_ from 'src/components/buttonset.astro';
import Route_ from 'src/components/route.astro';
import Section_ from 'src/components/section.astro';
import SvgPattern_ from 'src/components/svg-pattern.astro';
---

<Section_ class="_nextsteps" cols={0}>
	<div class="text--on-dark">
		<h2 class="text--hdg--1">Get started with Geneticure</h2>

		<p>Geneticure is offering complimentary testing for providers to demonstrate the value of the technology. <br /><Route_ to="register__clinician">Register here</Route_> for your provider account (NPI# required) and we will coordinate testing at no cost.</p>

		<Buttonset_>
			<Route_ href="home">About us</Route_>

			<Route_ class="button--high" to="register__clinician">Register</Route_>

			<Route_ to="contact">Contact us</Route_>
		</Buttonset_>
	</div>

	<Fragment slot="background">
		<SvgPattern_
			height="25"
			id="_nextsteps__bg"
			src="public/img/icon/pills-pattern.svg"
			width="25"
		/>
	</Fragment>
</Section_>

<style lang="scss">
@use 'src/scss/vars';

$background__color: vars.$color--brand--sink;

._nextsteps {
	text-align: center;

	&__bg {
		background-color: $background__color;

		&::after {
			@include vars.expand;

			background-image: linear-gradient(90deg, vars.gradient-split($background__color, '00', 50%));
			z-index: 1;
		}

		:global(path) {
			fill: none;
			stroke: vars.$color--brand;
			stroke-linecap: round;
			stroke-width: 3;
		}
	}
}

.buttonset {
	justify-content: center;
}

@include vars.if-viewport('<=', lg) {
	br {
		display: none;
	}
}
</style>
